.leaderBoard_container {
  padding: 24px;
  background: #F6F6F6;
  border-radius: 10px;
  min-height: 660px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.boxSpinner{
  transition: .3s;
}


.boxSpinner--active{
  transform: translateY(50px);
}

.leaderBoard_container--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;

}

.leaderBoard_container-top--title {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  color: #030327;

}





.leaderBoard_container--top-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderBoard_container--top_arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  height: 22px;
  width: 40px;
}

.leader__top-arrow {
  border: none;
  outline: none;
  cursor: pointer;
  background: #f6f6f6 no-repeat center;
  background-size: contain;
  width: 14px;
  height: 11px;
  transition: .3s;
  &:hover {
    transform: scale(1.2);
  }
}

.right-arrow{
  transform: rotate(179deg);
  margin-left: 8px;
  &:hover {
    transform: rotate(179deg) scale(1.2);
  }
}

.disabled-arrow{
  opacity: 0.5;
  cursor: not-allowed;

  &:hover{
    transform: scale(1);
  }
}

.leader__top-arrow.right-arrow.disabled-arrow{
  &:hover {
    transform: rotate(179deg) scale(1);
  }
}


.leader_board-top-date{
  font-size: 16px;
  margin-left: 10px;
}
